body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#drawing-container {
    position: relative;
}

#drawing-canvas {
    border: 1px solid #000;
}

#tools-container {
    margin-top: 20px;
    text-align: center;
}

button {
    margin: 5px;
}
